<!DOCTYPE html>
      body{
            background-color: lightgreen;
            color: black;
            text-align: left;
          }
      h1 {
          color: lightgreen;
          font size: 150px;
          margin: 0px;
          background-color: white;
          text-align: center;
         }
      p{
        color: black;
        background-color: lightgreen;
        }
     h2{
        color: black;
        font-size: 35px;
        margin: 0px;
        background-color: lightgreen;
        text-align: left;
        }
    h3{
        color: black;
        font-size: 40px;
        margin: 0px;
        background-color: lightgreen;
        text-align: left;
       }
   body{ background-color: lightgreen;
        }
</html>
